/*google font*/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;700;800&family=Open+Sans:wght@300;400;600;700&display=swap');
/*global css*/
:root{
    /*global color*/
    --primary-color:#535353;
    --secondary-color:#AFB9CB;
    --text-color:#209DD8;
    --header-color:#124265;
    --white-color:#FAFCFE;
    
    /*global font*/
    --primary-font: 'Open Sans', sans-serif;
    --secondary-font:'Jost', sans-serif;
}
body {
    font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
   font-family: 'Jost', sans-serif;
   color: var(--header-color);
}
p{
  color: var(--primary-color);
}
/* Header-section */
section#header {
  background-color: #3D4D6A;
}
.logo{
  color: white;
  font-family: var(--secondary-font);
}
#header a {
  color: white;
}
#header a:hover{
  color:var(--text-color);
} 
a.navbar-brand {
  font-family: var(--secondary-font);
}
/* Hero-section */
section#Hero-section {
    background: #37517e;
    color: var(--white-color);
}
h2.fs-4 {
  color: var(--secondary-color);
}
h1.title{
  color: var(--white-color);
}
button.btn.banner-button {
  background-color: var(--text-color);
  color: var(--white-color);
  transition: 0.3s;
}
.btn.banner-button:hover{
  background-color:#47b2e4;
}
/* client-section */
.client-section-bg{
  background-color: #f3f5fa;
}
.filter{
  filter: grayscale(100%);
  transform: scale(1);
  transition: 0.3s all ease;
}
.filter:hover{
  filter: grayscale(1%);
  transform: scale(1.05);
}
/* about us section */
.about-button{
  color: var(--text-color);
  border:2px solid var(--text-color);
  padding: 7px 32px;
}
.about-button:hover{
  background-color:#47b2e4;
  color: var(--white-color);
}
ul.about li {
  list-style: none;
  color: var(--primary-color)!important;
}
i.fas.fa-check-double.pe-2 {
  color: var(--text-color);
}
/* banner section */
 button.accordion-button.collapsed {
  color: var(--text-color);
}
/* count-section */
.count-inner{
  color: var(--header-color);
}
i.skill {
  float: right;
}
.progress_inner {
  color: var(--header-color);
  font-size: 13px;
  font-weight: 700;
}
.progress-bar {
  background-color:#4668a2;
  border-radius: none;
}
/* services-section */
.icon{
  color: var(--text-color);
}
button.accordion-button.collapsed {
  font-family: var(--primary-font);
  font-weight: 600;
}
.card{
  box-shadow: 0px 0 25px 0 rgb(0 0 0 / 10%);
  border:none;
  border-radius: 0px;
  transition: all  0.4s;
}
.card:hover {
  margin-top: -10px;
}
.card:hover{
  transform: scale(1.05);
}
/* call-section */
.description h2 {
	color: var(--white-color);
}
.description p {
	color: var(--white-color);
}
section#call-section {
  background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url("../img/cta-bg.jpg") fixed center center;
  background-size: cover;
}
.call-btn{
  border: 2px solid white;
  color:var(--white-color);
  background-color:#273856;
  transition: all 0.3s;
  padding: 11px 40px;
}
.call-btn:hover{
  background-color: var(--text-color);
  border: none;
}
/* team-section */
.member-img {
  width: 29%;
  height:29%;
}
.team_inner{
  position: relative;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  transition: 0.5s;
}
.social a i{
  transition: ease-in-out 0.3s;
  background: #eff2f8;
  color: var(--header-color)!important;
}
.social a i:hover{
  background-color: var(--text-color);
  color: var(--white-color)!important;
}
.pricing_inner h6{
  color: var(--text-color);
}
h5.pt-3 {
  font-size: 48px;
  font-weight: 400;
}
ul li {
  list-style: none;
  color: var(--secondary-color);
}
.pricing_inner ul i {
  color: green;
}
.pricing_inner.inner {
  border-top: 4px solid var(--text-color);
}
.pricing_inner{
  box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
  background: #fff;
  border-top: 4px solid #fff;
  border-radius: 5px;
}
.pricing-btn{
  border-radius: 34px;
  border:1px solid var(--text-color)!important;
  color: var(--text-color);
}
.pricing-btn:hover{
  color:var(--white-color);
  background:var(--text-color);
}
.pricing-btn.price{
  background:var(--text-color);
  color:var(--white-color);
}
.icon-padding {
  color: var(--text-color);
}
button.accordion-button {
  color: var(--header-color)!important;
}
button.accordion-button:hover{
  color:var(--text-color)!important; 
}
/* contact-inner */
.contact-icon {
  color: var(--text-color);
}
button.last-button {
  padding: 12px 36px;
  border: none;
  margin-left: 30%;
  background:var(--text-color);
  color: var(--white-color);
  border-radius: 30px;
}
.contact {
  border-top: 3px solid #47b2e4;
  border-bottom: 3px solid #47b2e4;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
/*Footer-inner*/
.Footer_inner {
  color: var(--secondary-color);
}
.Footer_inner h3 {
  color: var(--primary-color);
}
.Footer_inner p {
  font-size: 15px;
}
.Footer_inner h4 {
  font-size: 17px;
  color: var(--header-color);
  font-weight: 700;
}
.Footer_inner ul li a {
  color: var(--primary-color);
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
}
.Footer_inner ul{
  padding-left: 0px;
}
p.footer-p {
  font-size: 14px;
}
.right-icons {
  padding-right: 4px;
  font-size: 11px;
  color: var(--text-color);
}
.social.icon i {
  background-color: var(--text-color)!important;
  color: var(--white-color)!important;
}
/* End-inner */
#End-footer{
  background-color:  var(--header-color);
}
.end-inner p{
  color:var(--white-color)!important;
}
